.container{
    text-align: center;
    background-image: url(./../../../assets/Img/Ziemia.jpg);
    background-size: cover;
    color: white;
    padding: 10vh 0;
    height: 40vh;
 }
ul{
    list-style: none;
    text-align: center;
}