
<div class="container" [class.dark]="darkMode" [class.bigFont]="bigFont" [class.letterSpacing]="letterSpacing"
  [class.lineSpacing]="lineSpacing">
  <div class="wrapper">

    <ul>
      <b>Mapa serwisu</b>
      <li routerLink="flight">Loty</li>
      <li routerLink="login">Logowanie</li>
    </ul>

    <ul>
      <b>Dla klientów</b>
      <li>Opłaty</li>
      <li>Pomoc</li>
    </ul>

    <ul>
      <b>Nasze loty</b>
      <li>Rozkład lotów</li>
      <li>Mapa</li>
    </ul>

    <ul>
      <b >O nas</b>
      <li routerLink="contact">Kontakt</li>
      <li routerLink="info">O firmie</li>
    </ul>
  </div>

  <div class="copyright">
    &copy; Copyright Łukasz Czołczyński 2021
  </div>
</div>
