
<div class="container" [class.dark]="darkMode" [class.bigFont]="bigFont" [class.letterSpacing]="letterSpacing"
  [class.lineSpacing]="lineSpacing">
  <div class="wrapper">

    <ul>
      <b>{{ 'footer.ourFlights' | translate}}</b>
      <li routerLink="flight">{{ 'footer.flights' | translate}}</li>
      <li routerLink="seat">{{ 'footer.reservation' | translate}}</li>
    </ul>

    <ul>
      <b>{{ 'footer.aboutUs' | translate}}</b>
      <li routerLink="info">{{ 'footer.news' | translate}}</li>
      <li routerLink="contact">{{ 'footer.contact' | translate}}</li>
    </ul>

    <ul>
      <b>{{ 'footer.access' | translate}}</b>
      <li routerLink="wcag">{{ 'footer.wcag' | translate}}</li>
      <li routerLink="login">{{ 'footer.login' | translate}}</li>
    </ul>
  </div>

  <div class="copyright">
    &copy; Copyright Łukasz Czołczyński 2021
  </div>
</div>
