.main {
    background-color: rgba(255, 255, 255, 0.486);
    text-align: center;
    min-width: 400px;
    padding: 10px;
    border-radius: 25px;
    margin-left: 5vw;
    p {
        text-align: left;
    }
}