.container{
    height: 25vh;

}

h1{
    text-align: center;
}
img{
    height: 180px;
    width: 180px;
    transform: translateY(-60%);
}
.clock{

    position: absolute;
    right: 1vw;
    top: 1vh;
}
.login{
    position: absolute;
    position: fixed;
    top: 1vh;
    left: 1vw;
    font-size: 8px;
    padding: 2px 5px;
    border: 2px solid white;
    background-color: blue;
    text-align: center;
    border-radius: 6px;
}
.logout{
    background-color: yellow;
    padding: 2px;
    font-size: 8px;
    font-weight: bold;
    border: 2px solid blue
}
.logo{
    display: unset;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: yellow
}

@media (max-width: 900px) { 
    .container {
        height: 45vh;
    }
    .menu{
        flex-direction: column;

    }
    .logo{
        display: none;
    }
}