.container{
    height: 30vh;

}

h1{
    text-align: center;
}
img{
    height: 120px;
    width: 120px;
    transform: translateY(-50%);
}
.clock{

    position: absolute;
    right: 1vw;
    top: 1vh;
}
.login{
    position: absolute;
    position: fixed;
    top: 1vh;
    left: 1vw;
    font-size: 8px;
    padding: 2px 5px;
    border: 2px solid white;
    background-color: blue;
    text-align: center;
    border-radius: 6px;
}
.logout{
    background-color: yellow;
    padding: 2px;
    font-size: 8px;
    font-weight: bold;
    border: 2px solid blue
}
.logo{
    display: unset;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: yellow
}

@media (max-width: 790px) { 
    .container {
        height: 55vh;
    }
    .menu{
        flex-direction: column;
        justify-content: space-around;
    }
    .logo{
        display: none;
    }
}