h1{
    text-align: center;
}

.clock{

    position: absolute;
    right: 1vw;
    top: 1vh;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: yellow
}
