<div class="main" [class.dark]="darkMode" [class.bigFont]="bigFont" [class.letterSpacing]="letterSpacing" [class.lineSpacing] = "lineSpacing">
  <div class="search" [ngClass]="[darkMode ? 'dark': 'search']">
    <div class="inputs">
      <ul>
        <li>{{ 'home.departure' | translate}}</li>
        <li>{{ 'home.arrival' | translate}}</li>
        <li>{{ 'home.departuretDate' | translate}}</li>
        <li>{{ 'home.dateOfArrival' | translate}}</li>
        <li>{{ 'home.passengers' | translate}}</li>
      </ul>

      <ul>
        <li>
          <select style="width: 100%" #whereFrom>
            <option [value]="homeCity.name" *ngFor="let homeCity of homeCities">
              {{homeCity.name}}
            </option>
          </select>
        </li>
        <li>
          <select style="width: 100%" #whereTo>
            <option [value]="homeCity.name" *ngFor="let homeCity of homeCities">
              {{homeCity.name}}
            </option>
          </select>
        </li>
        <li><input type="date"  #whenFrom/></li>
        <li><input type="date" #whenReturn/></li>
        <li><input style="width: 100%" type="number" min="1" max="9" #passangers/></li>
      </ul>
    </div>
    <div style="text-align: center; padding-bottom: 3vh;">
      <button (click)="getDataFromForm()" class="btn">{{ 'home.goTo' |translate}}</button>
    </div>
  </div>
</div>
<app-weather></app-weather>
