<div class="main">
  <div class="search">
    <div class="inputs">
      <ul>
        <li>{{ 'home.departure' | translate}}</li>
        <li>{{ 'home.arrival' | translate}}</li>
        <li>{{ 'home.departuretDate' | translate}}</li>
        <li>{{ 'home.dateOfArrival' | translate}}</li>
        <li>{{ 'home.passengers' | translate}}</li>
      </ul>

      <ul>
        <li>
          <select style="width: 100%">
            <option>

            </option>
          </select>
        </li>
        <li>
          <select style="width: 100%">
            <option>

            </option>
          </select>
        </li>
        <li><input type="date" /></li>
        <li><input type="date" /></li>
        <li><input style="width: 100%" type="number" min="1" max="9" /></li>
      </ul>
    </div>
    <div style="text-align: center; padding-bottom: 3vh;">
      <button>Szukaj</button>
    </div>
  </div>
</div>
