<div class="container">
    <ng-container *ngIf="!login">
    <div>Aktualnie mamy jednego użytwonika: "jan.kowalski@gmail.com" i hasło: "qwerty"</div>
<ul class="login">
    <li>
    <label for="email">Podaj swój adres e-mail: </label>
    <input type="email" id="email" [(ngModel)]="userEmail" [value]="userEmail">
</li>
<li>
    <label fro="password">Podaj swoje hasło: </label>
    <input type="password" id="password" [(ngModel)] ="userPassword">
</li>
    <button class="btn" (click)="logIn()">{{ 'nav.login' | translate}}</button>
</ul>
</ng-container>
<ng-container *ngIf="login">
    <p>Jesteś zalogowany jako {{this.userEmail}}</p>
    <button (click)="logOut()"class="btn"> {{ 'nav.logout' | translate}} </button>
</ng-container>
</div>