.container{
    text-align: center;
    background-image: url(./../../../assets/Img/transport-5207942_1920.jpg);
    background-size: cover;
    min-height: 70vh;

}


ul{
    margin-top: 10vh;
    list-style: none;
    li{
        padding: 10px;
    }
}