<div [ngClass]="[darkMode ? 'dark' : 'background']"  [class.bigFont]="bigFont" [class.letterSpacing]="letterSpacing"
  [class.lineSpacing]="lineSpacing" class="main">
  <h1>Watro zobaczyć:</h1>
  <h2>Sri Lanka</h2>
  <ng-container *ngIf="lang=='pl'">
     <p> Sri Lanka – “Łza Indii” to niesamowity kraj położony na wyspie Cejlon pełen przyrody,
    interesujących miejsc i serdecznych ludzi. Możemy zobaczyć tu historyczne miasta, starożytne świątynie i oryginalne,
    kolonialne budynki. Ponadto warto wybrać się do licznych parków narodowych, gdzie podczas safari jak mamy szczęście
    zobaczymy dziką zwierzynę oraz poznamy roślinność, z których robi się produkty, które używamy, na co dzień. Warto
    spędzić trochę czasu z Tamilkami na plantacjach herbaty poznając proces powstawania i zbioru naszego ulubionego
    napoju, zdobyć kilka górskich szczytów, zejść pod ziemię z górnikami, aby poszukać szafirów czy przejechać się
    koleją z niesamowitymi widokami. Na koniec trzeba też poznać plaże, posurfować na falach czy wybrać się na
    fotograficzne “polowanie” na wieloryby.</p>
    <p> Sri Lanka to przede wszystkim niesamowici ludzie, których otwartość i serdeczność będę na zawsze pamiętał. Do tego
    należy dołożyć piękne piaszczyste plaże, tropikalne owoce i pyszne, ostre curry i już chce się tam wrócić.
    Sri Lanka (zaraz obok Tajlandii) to kraj, który zawsze polecam znajomym, którzy chcieliby wybrać się pierwszy raz do
    Azji, gdyż jest bardzo przyjazna turystom. Jest bardzo bezpiecznie, łatwo tu o nocleg, nie ma problemów z
    transportem, a na każdym kroku są ludzie, którzy chętnie nam pomogą lub doradzą.</p></ng-container>
  <ng-container *ngIf="lang == 'en'"> <p> Sri Lanka - "The Tear of India" is an amazing country located on the island of
    Ceylon, full of nature, interesting places and cordial people. We can see historical cities, ancient temples and
    original colonial buildings. In addition, it is worth going to numerous national parks, where during the safari, as
    we are lucky, we will see wild animals and get to know the vegetation, which are used to make products that we use
    every day. It is worth spending some time with Tamils ​​on tea plantations, learning about the process of creating
    and harvesting our favorite drink, climbing a few mountain peaks, going underground with miners to look for
    sapphires or take a train ride with amazing views. At the end, you also need to get to know the beaches, surf the
    waves or go for a photographic "hunting" of whales. </p>
    <p>Sri Lanka is above all amazing people whose openness and kindness I will remember forever. To this you need to add
    beautiful sandy beaches, tropical fruit and delicious, spicy curry and you want to go back there.
    Sri Lanka (right next to Thailand) is a country that I always recommend to friends who would like to go to Asia for
    the first time, because it is very tourist-friendly. It is very safe, it is easy to find accommodation here, there
    are no problems with transport, and there are people at every step who will be happy to help or advise us.</p>
    </ng-container>
    <ng-container *ngIf="lang == 'es'"> <p>Sri Lanka - "The Tear of India" es un país increíble ubicado en la isla de
      Ceilán, lleno de naturaleza, lugares interesantes y gente cordial. Podemos ver ciudades históricas, templos
      antiguos y edificios coloniales originales. Además, vale la pena ir a numerosos parques nacionales, donde durante
      el safari, como tenemos la suerte, veremos animales salvajes y conoceremos la vegetación, que se utiliza para
      elaborar productos que usamos todos los días. Vale la pena pasar un tiempo con las niñas tamiles en las
      plantaciones de té, aprender sobre el proceso de creación y cosecha de nuestra bebida favorita, escalar algunos
      picos de montañas, ir a la clandestinidad con mineros en busca de zafiros o dar un paseo en tren con vistas
      increíbles. Al final, también es necesario conocer las playas, surfear las olas o realizar una "caza" fotográfica
      de ballenas. </p>
      <p> Sri Lanka es, sobre todo, gente increíble cuya franqueza y amabilidad recordaré por siempre. A esto debe agregar
      hermosas playas de arena, frutas tropicales y un curry delicioso y picante y desea volver allí.
      Sri Lanka (justo al lado de Tailandia) es un país que siempre recomiendo a mis amigos que quieran ir a Asia por
      primera vez, porque es muy amigable para los turistas. Es muy seguro, es fácil encontrar alojamiento aquí, no hay
      problemas de transporte, y hay personas que estarán encantadas de ayudarnos o aconsejarnos en cada paso. </p>
    </ng-container>
    <iframe src="https://www.youtube.com/embed/UqPlbzT39g8" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4047271.3159248927!2d78.46138625026107!3d7.851729876308202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2593cf65a1e9d%3A0xe13da4b400e2d38c!2sSri%20Lanka!5e0!3m2!1spl!2spl!4v1623533595723!5m2!1spl!2spl" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <h2>Tokyo</h2>
    <ng-container *ngIf="lang=='pl'">
    <div>Tokio to 14-milionowa metropolia, która zachwyca swoją nowoczesnością i wysokim poziomem rozwoju. Na każdym kroku miasto zaskoczy Cię ciekawymi rozwiązaniami technologicznymi ułatwiającymi codzienne życie zabieganym Tokijczykom. Tokio to także miasto, które nie zapomina o swoich korzeniach kulturowych i pomiędzy sięgającymi nieba drapaczami chmur znajdziesz zabytkowe budowle, pałace i świątynie powstałe kilka wieków wstecz.</div>
  </ng-container>
  <ng-container *ngIf="lang=='en'">
    <div> Tokyo is a metropolis with a population of 14 million, which impresses with its modernity and high level of development. At every step, the city will surprise you with interesting technological solutions that make everyday life easier for busy Tokyo people. Tokyo is also a city that does not forget about its cultural roots, and among the sky-high skyscrapers you will find historic buildings, palaces and temples dating back several centuries.</div>
  </ng-container>
  <ng-container *ngIf="lang=='es'">
    <div> Tokio es una metrópoli con una población de 14 millones, que impresiona por su modernidad y alto nivel de desarrollo. A cada paso, la ciudad te sorprenderá con interesantes soluciones tecnológicas que facilitan la vida cotidiana de los ocupados habitantes de Tokio. Tokio es también una ciudad que no se olvida de sus raíces culturales, y entre los rascacielos más altos encontrarás edificios históricos, palacios y templos que datan de varios siglos. </div>
  </ng-container>
    <iframe src="https://www.youtube.com/embed/9FARBtN7Hiw" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1662980.6623616444!2d138.64856969373486!3d35.50405306031163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x605d1b87f02e57e7%3A0x2e01618b22571b89!2sTokio%2C%20Japonia!5e0!3m2!1spl!2spl!4v1623533648849!5m2!1spl!2spl" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <h2>Mexicco</h2>
    <ng-container *ngIf="lang=='pl'">
    <div>Miasto Meksyk jest nie tylko stolicą, ale pod wieloma względami najważniejszym miastem kraju. To właśnie tutaj mieści się siedziba rządu i kilka wielkich centrów biznesowych, co czyni miasto Meksyk istotnym punktem na mapie całej Ameryki Łacińskiej. Co warto zobaczyć w Mexico City? Ze względu na liczne atrakcje, które opisujemy poniżej, jest to miejsce przyciągające pielgrzymów i turystów z całego świata. Ogromne odległości, uliczne korki, smog, ale też wielowiekowe tradycje, wspaniała kuchnia, muzyka i serdeczni ludzie – to wszystko razem tworzy pełne uroku i kontrastów Mexico City.</div>
  </ng-container>
    <ng-container *ngIf="lang=='en'">
      <div> Mexico City is not only the capital city, but in many ways the most important city in the country. It is here that the headquarters of the government and several large business centers are located, which makes Mexico City a significant point on the map of Latin America. What's worth seeing in Mexico City? Due to the numerous attractions described below, it is a place that attracts pilgrims and tourists from all over the world. Huge distances, traffic jams, smog, but also centuries-old traditions, great cuisine, music and friendly people - all this together creates a Mexico City full of charm and contrasts. </div>
  </ng-container>
    <ng-container *ngIf="lang=='es'">
      <div> La Ciudad de México no es solo la capital, sino en muchos sentidos la ciudad más importante del país. Es aquí donde se ubica la sede de gobierno y varios grandes centros empresariales, lo que convierte a la Ciudad de México en un punto significativo en el mapa de América Latina. ¿Qué vale la pena ver en la Ciudad de México? Debido a los numerosos atractivos que se describen a continuación, es un lugar que atrae a peregrinos y turistas de todo el mundo. Grandes distancias, atascos de tráfico, smog, pero también tradiciones centenarias, excelente cocina, música y gente amable, todo esto en conjunto crea una Ciudad de México llena de encanto y contrastes. </div>
  </ng-container>
    <iframe  src="https://www.youtube.com/embed/_gWGwPp09CA" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240864.1641753193!2d-99.28369996304824!3d19.39067996686654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0026db097507%3A0x54061076265ee841!2sMeksyk%2C%20Dystrykt%20Federalny%2C%20Meksyk!5e0!3m2!1spl!2spl!4v1623533712039!5m2!1spl!2spl" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
